<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="E:\work_relative\winnermicro\RT-Thread_W60X_SDK\examples\18_iot_airkiss\rtthread.bin" SAVEFILE="E:\work_relative\winnermicro\RT-Thread_W60X_SDK\examples\18_iot_airkiss\rtthread.rbl" COMPRESS="3" CRYPT="1" KEY="00000000000000000000000000000000" IV="1111111111111111" NAME="app" VERSION="2.5" />
</configuration>