<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="" SAVEFILE="" COMPRESS="0" CRYPT="0" KEY="" IV="" NAME="" VERSION="" />
</configuration>